*{
padding: 0;
margin:0;
box-sizing: border-box;
}

html, body {
    height: 100%;
    margin:0;
}

body {
   /* display: flex;
    flex-direction: column;
    background-color: rgb(153, 147, 147);*/
    min-height: 100%;
    font-family: Inconsolata,sans-serif; 
 
}
main {
    width: 80%;
    margin:auto;
}



header {
  background-color: rgb(176, 171, 183);   
   display: flex;
    justify-content: space-around;
    align-items: center;
    padding:15px;
    font-size: 18px;
}

header .logo img{
    height: 70px;
    width: auto;
}

nav {
    display: flex;
    gap:20px
}

nav a {
    text-decoration: none;
    color: black
}

nav a:hover {
    color: blueviolet;
}

.slogan {
    text-align: center;
}
.contenedor-maestro {
    display:grid;
    min-height: 100dvh;
    grid-template-columns: auto auto 1fr auto auto;
    

}
.contenedor-main {
    width: 80%;
    display:flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    align-items: center;
}

button {
          width: 120px;
          height:50px;
          background-color: rgb(181, 214, 83);
          border-radius: 20px;
          cursor: pointer;
          font-weight: bold;
}


.caja {
width:345px;
height: 330px;
margin: 5px;
background-color: #655ae2;
border-radius: 20px 20px 20px 20px ;
color: rgb(19, 18, 18);
text-align: center;
align-items:center ;
}

 img {
 width: 340px;
  height: 220px;
  border-radius: 20px 20px 20px 20px ;
}



footer {
    background-color: rgb(176, 171, 183);
    text-align: center;
    padding: 30px;
}



.caja-input {
width:345px;
height: 150px;
margin: 30px;
padding-top: 50px;
font-size: 30px;
background-color: #a2c532;
border-radius: 20px 20px 20px 20px ;
color: rgb(19, 18, 18);
text-align: center;
align-items:center ;
}

h1 {
    font-size: 40px;
    text-align: center;
}


