* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    font-size: 20px; 
}

body {
    font-family: Inconsolata,sans-serif; 
    background-color: rgb(191, 14, 43);

   /* width:100%; */
   /* height: 80%;*/
   /* margin:0; */
    /* padding-top: 80px */
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.subtitulo {
    font-size: 100%;
    text-align: center;
    background-color: #ba9cea;
    color:black;
   
}
 
.cabecera {
   background-color: rgb(202, 117, 13);
    height: 10%; 
    padding-top:5px ;
   padding-bottom: 15px;
    padding-right: 10px;
    text-align: right;
}

.area-cajas {
    background-color: aquamarine;
    width:100%;
    align-items: center;
}

.contenedor {
display: flex;
flex-direction: row;
flex-wrap: wrap;
/*justify-content:center;*/
/*width: 100%;*/
flex-wrap: wrap;
}


.contenedor-cajas {
    /*flex: 1;*/
margin: 3px;
background-color: #766ed7;
border-radius: 20px 20 px 0px 0px ;
color: rgb(19, 18, 18);
text-align: center;
/*padding: 20px;*/

}

.contenedor-cajas img { 
  width: 340px;
  height: 240px;
  border-radius: 20px 20 px 0px 0px ;
  
  /*object-fit:cover;*/
}



button {
          width: 120px;
          height:50px;
          background-color: darkgoldenrod;
          border-radius: 20px;
          cursor: pointer;
          font-weight: bold;
}



.contenedor-footer {
 background: #6312e5;
  color: #fff7fb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   /* margin-top: auto;*/
}

.nav-ul img{
    width: 45px;

}

.nav-ul li {
    list-style-type: none;
}

/* CONTACTO.    */

.etiqueta {
display: flex;
flex-direction: row;
padding-top: 10px;
padding-bottom: 30px;
/*width: 70%;
height: 100%;*/

}

.contenedor-main {
  display: flex;
flex-direction: column;
  /*min-height: 100vh;*/
}


.contenedor-contacto {
   /*flex:1;*/
}

.contenedor-footer-contacto {
display:flex;
flex-direction: row;
justify-content: space-between ;
background-color:#6312e5;
color: #fff7fb;
position: absolute;
bottom: 0;
width: 100%;
} 









